{% extends 'layout.html' %}

{% block body %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <ul class='flashes'>
        <li class='flash-{{category}}'>{{message}}</li>
      </ul><br>
    {% endfor %}
  {% endwith %}

  <form action='watch-something'>
    watch something<br>
    <input
      type='number'
      step='1'
      name='time-to-watch'
      placeholder='free time in minutes'
    /><br>

    who's here?<br>
    {% for person in people %}
      <input type='checkbox' name='wants-to-watch:{{person['name']}}'/>
      {{person['name']}}
      <br>
    {% endfor %}
    <input type='submit'/>
  </form>
  <br>

  <form action='action/add-media'>
    add a thing to watch<br>
    <input type='text' name='media-name' placeholder='name'/><br>
    <input
      type='number'
      step='1'
      name='media-length'
      placeholder='length in minutes'
    /><br>

    who wants to see it?<br>
    {% for person in people %}
      <input type='checkbox' name='wants-to-watch:{{person['name']}}'/>
      {{person['name']}}
      <br>
    {% endfor %}
    <input type='submit'/>
  </form>
  <br>

  <form action='action/add-person'>
    add a person<br>
    <input type='text' name='person-name'/><br>
    <input type='submit'/>
  </form>
{% endblock %}
